* {
  box-sizing: border-box;
}

.App-header {
  padding-top: 5rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

h1 {
  margin: 0;
  font-size: 34px;
  @apply font-bold;
}
span.sub-header {
  font-size: 12px;
  color: rgb(148, 148, 148);
}
span.robot {
  font-size: 20px;
  margin-left: 4px;
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.editor-fixed {
  color: rgb(19, 19, 19);
}

.head span {
  font-size: 12px;
  font-weight: bold;
  color: rgb(37, 37, 37);
}

footer {
  height: 100px;
}

.DraftEditor-root,
.DraftEditor-editorContainer,
.public-DraftEditor-content {
  height: 100%;
}

.public-DraftEditor-content {
  overflow-y: scroll;
}
